* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.game {
  width: 600px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: aqua;
}

.game::before {
  content: '';
  position: absolute;
  height: 1px;
  background: black;
  left: 0;
  right: 0;
  bottom: 9px;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#sky {
  opacity: 0.3;
  background-image: url(./img/skyv.png);
  z-index: 2;
}

#water {
  background-image: url(./img/water.png);
  z-index: 2;
}

#dust {
  background-image: url(./img/dust.png);
  z-index: 3;
}

#message {
  position: absolute;
  background-color: aqua;
  padding: 5px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

#sun {
  width: 70px;
  height: 70px;
  background-image: url(./img/sun.png);
  background-size: 70px 70px;
  position: absolute;
  top: -30px;
  z-index: 1;
  animation: sun infinite 20000ms linear;
}

#birds_right {
  position: absolute;
  z-index: 4;
  width: 30px;
  height: 20px;
  background-image: url(./img/birds-to-right.png);
  background-size: 30px 20px;
  left: -30px;
  animation: birds-to-right infinite 40000ms linear;
}

#bird {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(./img/bird.png);
  background-size: 30px 30px;
  bottom: 0;
  left: 0;
  z-index: 4;
  animation: meal infinite 1000ms linear, go-away infinite 50000ms linear;
}

#dino {
  width: 70px;
  height: 70px;
  background-image: url(./img/drozd.png);
  background-size: 70px 70px;
  position: relative;
  top: 125px;
  left: 50px;
  z-index: 5;
}

.jump {
  animation: jump infinite 600ms linear;
}

#cactus {
  width: 40px;
  height: 70px;
  background-image: url(./img/bong.png);
  background-size: 40px 70px;
  position: relative;
  top: 55px;
  left: 550px;
  z-index: 5;
  animation: cactusMov infinite 2000ms linear;
}

@keyframes cactusMov {
  0% {
    left: 550px;
  }
  100% {
    left: -40px;
  }
}

@keyframes jump {
  0% {
    top: 125px;
  }
  30% {
    top: 40px;
  }
  50% {
    top: 20px;
  }
  80% {
    top: 90px;
  }
  100% {
    top: 125px;
  }
}

@keyframes sun {
  0% {
    left: 100%;
    top: -50px;
  }
  25% {
    top: -30px;
  }
  50% {
    top: -40px;
  }
  75% {
    top: -30px;
  }
  100% {
    left: -60px;
    top: -40px;
    transform: rotate(360deg);
  }
}

@keyframes birds-to-right {
  0% {
    left: -30px;
    top: 0;
  }
  50% {
    top: 30px;
  }
  100% {
    left: 100%;
    top: 0;
  }
}

@keyframes meal {
  0% {
    transform: rotate(0deg);
    bottom: 0;
  }

  25% {
    transform: rotate(20deg);
    bottom: 5px;
  }

  50% {
    transform: rotate(0deg);
    bottom: 0;
  }

  75% {
    transform: rotate(20deg);
    bottom: 3px;
  }

  100% {
    transform: rotate(0deg);
    bottom: 0;
  }
}

@keyframes go-away {
  0% {
  }

  50% {
    left: 100%;
    transform: scaleX(1);
  }

  60%{
    transform: scaleX(-1);
  }

  100% {
    left: 0%;
    transform: scaleX(-1);

  }
}
